.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.formStyle {
    /* background-color: #092b5a; */
    width: fit-content;
    padding: 1em;
    border-radius: 10px;
    /* color: rgb(0, 0, 0); */
}

.labelInput {
    display: block;
    margin-bottom: 10px;
    font-family: Times New Roman (12) Arial (11);
}

.buttonCenter {
    text-align: center;
    margin-top: 20px;
}

.buttonColor {
    /* background-color: rgb(9, 115, 138); */
    background-color: #0079c8;
    color: rgb(255, 255, 255);
    
}

.imageCenter {
    text-align: center;
    margin-bottom: 10px;
}

.title{
    margin-top: -40px;
    font-family: monospace;
}

.letras{
    font-family: monospace;
    font-size: 20px;
}

.validation{
    color:rgb(255, 0, 0)
}

.imageTamaño{
    height: 300px;
    width: 400px;
}

.inputTamaño{
    margin-top: -20px;
    border-radius: 6px; /* Bordes redondeados */
    padding: 6px; /* Ajustar el tamaño del input */
    font-size: 14px; /* Tamaño de la fuente */
}

input {
    padding: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.9s;
}

.input:hover {
    box-shadow: 0 0 5px rgb(54, 151, 255); /* Cambia la sombra a azul al pasar el cursor sobre el input */
}

