body {
    background-color: rgb(205, 227, 245);
}


.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px; /* Ajusta el padding para aumentar el tamaño del contenedor */
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(185, 182, 182);
    border-radius: 20px;
}


.formStyle {
    /* background-color: #092b5a; */
    background-color: rgb(255, 255, 255);
    width: fit-content;
    padding: 1em;
    border-radius: 10px;
}


.labelInput {
    display: block;
    margin-bottom: 5px; /* Reduce el espacio entre etiquetas y campos de entrada */
    /* font-family: Times New Roman (12) Arial (11); */
}


.buttonCenter {
    text-align: center;
    margin-top: 10px; /* Reduce el espacio entre los campos de entrada y el botón */
}


.buttonColor {
    background-color: #0079c8;
    color: rgb(255, 255, 255);
    font-family: monospace;
    font-size: 16px; /* Reduce el tamaño de la fuente */
}


.buttongrey{
    background-color: rgb(77, 74, 74);
    color: rgb(255, 255, 255);
    font-family: monospace;
    font-size: 16px; /* Reduce el tamaño de la fuente */
    pointer-events: none;
}


.imageCenter {
    text-align: center;
    margin-bottom: 10px;
}


.title{
    margin-top: -20px; /* Reduce el espacio sobre el título */
    font-family:  monospace;
    color: rgb(70, 96, 122);
}


.letras{
    font-family: monospace;
    font-size: 16px; /* Reduce el tamaño de la fuente */
    color: rgb(70, 96, 122);
}


.validation{
    color:rgb(255, 0, 0);
}


.imageTamaño{
    height: 150px; /* Reduce el tamaño de la imagen */
    width: 250px; /* Reduce el tamaño de la imagen */
}


.inputTamaño{
    margin-top: -10px; /* Reduce el espacio entre los campos de entrada */
    border-radius: 6px;
    padding: 5px; /* Ajusta el tamaño del input */
    font-size: 14px; /* Tamaño de la fuente */
}


.inputDesplegable{
    margin-top: -10px; /* Reduce el espacio entre los campos de entrada */
    border-radius: 6px;
    padding: 5px; /* Ajusta el tamaño del input, valor fijo */
    font-size: 15px; /* Tamaño de la fuente */
    width: 90px; /* Tamaño fijo para el input desplegable */
    height: 27px;
    color: rgb(70, 96, 122);
    font-family: monospace;
}


input {
    /* padding: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.9s; */
    border: 0.5px solid;
}


.input:focus {
    /* box-shadow: 0 0 5px rgb(54, 151, 255); */
    border: 0.5px solid #0079c8;
    outline: 1px solid #0079c8;
}

